.indexContainer, .aboutContainer, .aboutP, .portfolioContainer {
    margin: 0 15px 0 15px;
}
.dot {
    height: 200px;
    width: 200px;
    background-color: rgb(141, 211, 161);
    border-radius: 50%;
    display: inline-block;
  }
  .btn {
      margin: 0.5rem;
      width: 11rem;
  }
  .btn:hover {
   width: 11.5rem;
  }
  .nav-item {
      font-size: 2rem;
      font-weight: lighter;
  }
  .aboutP {
      font-family: unset;
      font-size: 2.5rem;
      font-weight: lighter;
      font-stretch: wider;
  }
.line1 {
    font-size: 2rem;
}
.line2 {
    font-size: 2.2rem;
}
.line3 {
    font-size: 2.4rem;
}
.line4 {
    font-size: 2.6rem;
}
.line5 {
    font-size: 3rem;
}